[data-theme=afterdark] {
  --p: 60.2142% 0.090465 284.862228;
  --b2: 26.7726% 0.113367 277.334003;
  --b3: 24.7574% 0.104834 277.334003;
  --bc: 85.7575% 0.02438 277.334003;
  --pc: 12.0428% 0.018093 284.862228;
  --sc: 15.1278% 0.011981 285.964235;
  --ac: 19.2379% 0.011605 95.617445;
  --nc: 87.5196% 0.024274 280.640415;
  --inc: 16.5517% 0.020255 230.317893;
  --suc: 18.0988% 0.017898 164.150083;
  --wac: 18.902% 0.024861 101.539857;
  --erc: 16.1538% 0.020697 19.57064;
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --s: 75.6391% 0.059903 285.964235;
  --a: 96.1896% 0.058027 95.617445;
  --n: 37.5979% 0.121372 280.640415;
  --b1: 28.7877% 0.1219 277.334003;
  --in: 82.7586% 0.101277 230.317893;
  --su: 90.4941% 0.089488 164.150083;
  --wa: 94.5102% 0.124303 101.539857;
  --er: 80.769% 0.103486 19.57064;
}
[data-theme=her] {
  --p: 63.7905% 0.075538 19.362126;
  --b2: 32.243% 0.09643 24.310124;
  --b3: 29.8162% 0.089172 24.310124;
  --bc: 86.934% 0.020738 24.310124;
  --pc: 12.7581% 0.015108 19.362126;
  --sc: 15.5792% 0.009865 18.265142;
  --ac: 19.2379% 0.011605 95.617445;
  --nc: 88.6113% 0.020623 22.381898;
  --inc: 16.5517% 0.020255 230.317893;
  --suc: 18.0988% 0.017898 164.150083;
  --wac: 18.902% 0.024861 101.539857;
  --erc: 16.1538% 0.020697 19.57064;
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --s: 77.8961% 0.049323 18.265142;
  --a: 96.1896% 0.058027 95.617445;
  --n: 43.0563% 0.103113 22.381898;
  --b1: 34.6699% 0.103688 24.310124;
  --in: 82.7586% 0.101277 230.317893;
  --su: 90.4941% 0.089488 164.150083;
  --wa: 94.5102% 0.124303 101.539857;
  --er: 80.769% 0.103486 19.57064;
}
[data-theme=clays] {
  --p: 66.584% 0.157422 58.31834;
  --b2: 25.9585% 0.069004 45.635161;
  --b3: 24.0046% 0.06381 45.635161;
  --bc: 85.5825% 0.014839 45.635161;
  --pc: 13.3168% 0.031484 58.31834;
  --sc: 15.3718% 0.032932 70.08039;
  --ac: 19.2379% 0.011605 95.617445;
  --nc: 89.4638% 0.02494 46.200651;
  --inc: 16.5517% 0.020255 230.317893;
  --suc: 18.0988% 0.017898 164.150083;
  --wac: 18.902% 0.024861 101.539857;
  --erc: 16.1538% 0.020697 19.57064;
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --s: 76.859% 0.164659 70.08039;
  --a: 96.1896% 0.058027 95.617445;
  --n: 47.3189% 0.124699 46.200651;
  --b1: 27.9124% 0.074197 45.635161;
  --in: 82.7586% 0.101277 230.317893;
  --su: 90.4941% 0.089488 164.150083;
  --wa: 94.5102% 0.124303 101.539857;
  --er: 80.769% 0.103486 19.57064;
}
[data-theme=sky] {
  --p: 75.3513% 0.138989 232.66148;
  --b2: 27.2913% 0.058813 243.15707;
  --b3: 25.2371% 0.054386 243.15707;
  --bc: 85.8691% 0.012648 243.15707;
  --pc: 15.0703% 0.027798 232.66148;
  --sc: 16.5517% 0.020255 230.317893;
  --ac: 19.2379% 0.011605 95.617445;
  --nc: 87.8246% 0.016905 240.875917;
  --inc: 16.5517% 0.020255 230.317893;
  --suc: 18.0988% 0.017898 164.150083;
  --wac: 18.902% 0.024861 101.539857;
  --erc: 16.1538% 0.020697 19.57064;
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --s: 82.7586% 0.101277 230.317893;
  --a: 96.1896% 0.058027 95.617445;
  --n: 39.123% 0.084527 240.875917;
  --b1: 29.3455% 0.063239 243.15707;
  --in: 82.7586% 0.101277 230.317893;
  --su: 90.4941% 0.089488 164.150083;
  --wa: 94.5102% 0.124303 101.539857;
  --er: 80.769% 0.103486 19.57064;
}
[data-theme=stones] {
  --p: 55.1019% 0.023361 264.363742;
  --b2: 24.9691% 0.005847 34.297556;
  --b3: 23.0897% 0.005407 34.297556;
  --bc: 85.3697% 0.001257 34.297556;
  --pc: 91.0204% 0.004672 264.363742;
  --sc: 14.2732% 0.003835 261.324645;
  --ac: 19.2379% 0.011605 95.617445;
  --nc: 88.8883% 0.001919 73.638981;
  --inc: 16.5517% 0.020255 230.317893;
  --suc: 18.0988% 0.017898 164.150083;
  --wac: 18.902% 0.024861 101.539857;
  --erc: 16.1538% 0.020697 19.57064;
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --s: 71.366% 0.019176 261.324645;
  --a: 96.1896% 0.058027 95.617445;
  --n: 44.4417% 0.009597 73.638981;
  --b1: 26.8485% 0.006287 34.297556;
  --in: 82.7586% 0.101277 230.317893;
  --su: 90.4941% 0.089488 164.150083;
  --wa: 94.5102% 0.124303 101.539857;
  --er: 80.769% 0.103486 19.57064;
}
